.index_about {
    display: flex;
    width: 100%;
    padding-top: $section-padding-vertical;
    padding-bottom: $section-padding-vertical;
}

.index_about_image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .index_about_image_background {
        border-radius: 50%;
        max-width: 35vw;
        position: absolute;
        z-index: 2;
    }
}

.index_about_image_foreground {
    position: relative;
    z-index: 10;
    animation-name: circle-grow;
    animation-duration: 1.5s;
}

.index_about_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.index_about_title {
    font-family: $title-font-family;
    font-size: $title-font-size;
}

@media screen and (max-width: 1000px) {
    .index_about_image,
    ._index_about_image_background {
        display: none;
    }

    .index_about_text {
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}