.index_calendar {
    padding-top: $section-padding-vertical;
    padding-bottom: $section-padding-vertical;
    padding-left: $section-padding-horizontal;
    padding-right: $section-padding-horizontal;
    position: relative;
    z-index: 2;
    background-color: white;
}

.index_calendar_title {
    font-family: $title-font-family;
    font-size: $title-font-size;
}

.index_calendar_list-item {
    border: 1px solid $accent-color;
}

// General Calendar

ul {
    list-style-type: none;
}

.events_calendar {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}


.calendar_list-item_foreground {
    position: relative;
    z-index: 7;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calendar_list-item_show-info_name {
    font-size: 3vh;
}

.calendar_list-item_show-info_role {
    font-weight: bolder;
    font-family: $title-font-family;
    font-size: 3vh;
}

.calendar_list-item_performances_date,
.calendar_list-item_performances_venue {
    flex: 1;
}

.calendar_list-item_performances_venue {
    text-align: right
}

.calendar_list-item_performances_show-info {
    flex: 2;
}

.calendar_list-item {
    a,
    a:visited {
        color: rgba(153,144,255);
        font-weight: bold;
    }

    a:hover {
        color: rgba(181,175,255);
        font-weight: bold;
    }
}

@media screen and (max-width: 1000px) {
    .calendar_list-item_foreground {
        flex-direction: column;
    }

    .calendar_list-item_performances_show-info {
        text-align: center;
    }

    .calendar_list-item_performances_date {
        text-align: center;
    }
}
