$cover-photo-height: 100vh - $header-height;

.index_cover_photo {
   height: $cover-photo-height;
}

.index_cover_background {
    position: absolute;
    height: $cover-photo-height;
    width: 100%;
}

.index_cover_foreground {
    position: relative;
    height: $cover-photo-height;
    width: 100%;
    z-index: 7;
}

.index_cover_flowers_top {
    position: absolute;
    width: 45vw;
    top: 0vh;
    right: 0vw;
    animation-name: slide-down;
    animation-duration: 2s;
}

.index_cover_flowers_bottom {
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 45vw;
    animation-name: slide-up;
    animation-duration: 2s;
}

@media screen and (min-width: 1300px) {
    .index_cover_flowers_bottom,
    .index_cover_flowers_top {
        width: 30vw;
    }
}
