.index_projects {
    padding-left: $section-padding-left;
    padding-bottom: $section-padding-vertical;
}

.index_projects_title {
    font-family: $title-font-family;
    font-size: $title-font-size;
}

