.about-page {
    display: flex;
    flex: 2;
}

.about_image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .about_image_background {
        border-radius: 50%;
        max-width: 35vw;
        position: absolute;
        z-index: 2;
    }
}

.about_image_foreground {
    position: relative;
    z-index: 10;
    animation-name: circle-grow;
    animation-duration: 1.5s;
}

.about_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_title {
    font-family: $title-font-family;
    font-size: $title-font-size;
}

.about_blurb {
    padding-left: 2vw;
    padding-right: 2vw;
}

@media screen and (max-width: 1000px) {
    .about-page {
        flex-direction: column;
    }

    .about_image {
        width: 100%;
    }

    .about_text {
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .about_image .about_image_background {
        max-width: 72vw;
    }
}