//Font Family
$title-font-family: 'Dawning of a New Day';
$text-font-family: 'Work Sans';

//Font Size
$title-font-size: 7vh;
$text-font-size: 2vh;

// Padding
$section-padding-vertical: 7vh;
$section-padding-horizontal: 10vw;

// Size
$header-height: 8.25vh;

// Color
$accent-color: rgba(75, 128, 52);
$fade-accent-color: rgba(93,158,64);
$links-color: rgba(244,100,100);
$links-color--hover: rgba(244,157,157);

// Animation

@keyframes slide-up-diagonal {
    0% {
        bottom: -100vh;
        left: -100vw;
        opacity: 0;
    }
    50% {
        opacity: 1
    }
    100% {
        bottom: 0vh;
        left: 0vw;
    }
}

@keyframes slide-down-diagonal {
    0% {
        top: -100vh;
        right: -100vw;
        opacity: 0;
    }
    75% { 
        opacity: 1
    }
    100% {
        top: 0vh;
        right: 0vw;
    }
}

@keyframes circle-grow {
    0% {
        width: 5vw;
        opacity: 0;
        z-index: 1;
    }
    25% {
        opacity: 1;
    }
    99% {
        z-index: 1;
    }
    100% {
        width: 50vw;
        z-index:10;
    }
}

@keyframes drop-down {
    0% {
        top: -100vh;
    }

    100% {
        top: 0vh;
    }
}

@keyframes slide-up {
    0% {
        bottom: -100vh;
    }

    100% {
        bottom: 0vh;
    }
}