//Font Family
$title-font-family: 'Dawning of a New Day';
$text-font-family: 'Work Sans';

//Font Size
$title-font-size: 7vh;
$text-font-size: 2vh;

// Padding
$section-padding-vertical: 10vh;
$section-padding-left: 15%;