.contact-page {
    display: flex;
    flex: 2;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: solid $accent-color 1px;
    overflow-y: hidden;

    form {
        width: 60vw;
    }
}

.contact-page_foreground {
    display: flex;
    flex-direction: column;
}

.contact-page_image {
    z-index: 1;
    animation-name: slide-up;
    animation-duration: 1s;
}

.contact-page_title {
    font-family: $title-font-family;
    font-size: $title-font-size;
    text-align: center;
}


.contact-page_background {
    position: absolute;
    bottom: 0px;
}

.contact-page_foreground {
    position: relative;
    z-index: 5;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
