.index_cover_photo {
    max-height: 100vh;
}

.index_cover_photo img {
    object-position: 0px -35vh;
}

.index_about {
    display: flex;
}

@media screen and (max-width:900px) {
    .index_cover_photo img {
        object-position: center;
    }
}

@media screen and (min-width: 1500px) {
    .index_cover_photo img {
        object-position: 0px -50vh;
    }

}