header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1vh;
    height: $header-height;
}

footer,
header {
    background-color: white;
    z-index: 2;
}

.header_title {
    font-family: $title-font-family;
    font-size: 5vh;
    padding-left: 1vw;
}

.header_links {
    display: flex;
    gap: 2vw;
    padding-right: 2vw;
}

.header_links a,
.header_links a:visited {
    color: black;
}

@media screen and (max-width: 950px) {
    .header_links {
        display: none;
    }
}