@import 'constants';

@import 'index/about';
@import 'index/calendar';
@import 'index/contact';
@import 'index/cover';
@import 'index/projects';
@import 'about';
@import 'calendar';
@import 'contact';
@import 'layout';
@import 'media';
@import 'projects';

body {
    font-family: $text-font-family;
    font-size: $text-font-size;
    margin: 0px;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.page_title {
    font-size: $title-font-size;
    font-family: $title-font-family;
}