@import 'constants';

@import 'index/about';
@import 'index/calendar';
@import 'index/contact';
@import 'index/cover';
@import 'index/projects';
@import 'about';
@import 'calendar';
@import 'contact';
@import 'layout';
@import 'media';
@import 'projects';

body {
    font-family: $text-font-family;
    font-size: $text-font-size;
    margin: 0px;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

footer {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.page_title {
    font-size: $title-font-size;
    font-family: $title-font-family;
}

ul {
    padding-left: 0px;
    margin: 0px;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.text-link,
.text-link:visited {
    text-decoration: none;
    color: $links-color;
}

.text-link:hover {
    color: $links-color--hover;
}

em {
    font-weight: bold;
    color: $accent-color;
    font-style: normal;
}

.index {
    overflow-y: hidden;
}

.youtube-video {
    width: 60vw;
    height: 45vh;
}

@media screen and (max-width: 600px) {
    .youtube-video {
        width: 98vw;
    }
}