@import 'constants';

@import 'index/about';
@import 'index/calendar';
@import 'index/contact';
@import 'index/cover';
@import 'index/projects';
@import 'about';
@import 'calendar';
@import 'layout';

body {
    font-family: $text-font-family;
    font-size: $text-font-size;
    margin: 0px;
}

footer {
    text-align: center;
}