.projects-page {
    flex: 2;
    overflow-y: hidden;
}

.projects-page_foreground {
    position: relative;
    padding-top: $section-padding-vertical;
    padding-bottom: $section-padding-vertical;
    padding-left: $section-padding-horizontal;
    padding-right: $section-padding-horizontal;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.projects-page_background { 
    position: absolute;
    min-width: 800px;
}

.projects-page_flowers {
    z-index: 1;
    animation-name: drop-down;
    animation-duration: 2s;
}

.projects-page_title,
.projects-page_subtitle,
.projects-page_list-item_title {
    background-color: rgba(255,255,255,.7);
    width: fit-content;
}

.projects-page_title {
    font-family: $title-font-family;
    font-size: $title-font-size;
}

.projects-page_list {
    display: flex;
    flex-direction: column;
}

.projects-page_list-item {
    padding-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects-page_list-item:first-child {
    padding-top: 7vh;
}

.projects-page_list-item_title {
    font-family: $title-font-family;
    font-size: 5vh;
    margin-bottom: 3vh;
}

.projects-page_list-item_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.graphic-design_list-item_image {
    width: 250px;
}

.embroidery_list-item_image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.projects-page_list-item_list-item_description {
    padding-top: 1.5vh;
}

.website_list-item {
    display: flex;
    flex-direction: column;
}

.website_list-item embed {
    width: 35vw;
    height: 55vh;
}

@media screen and (max-width: 600px) {
    .projects-page_foreground {
        padding-left: 1vw;
        padding-right: 1vw;
        justify-content: center;
        align-items: center;
    }

    .projects-page_list,
    .projects-page_list-item,
    .projects-page_list-item_list {
        align-items: center;
    }

    .website-list {
        gap: 6vh;
    }

    .website_list-item embed {
        width: 98vw;
    }
}