.projects-page {
    padding-top: $section-padding-vertical;
    padding-bottom: $section-padding-vertical;
    padding-left: $section-padding-horizontal;
    padding-right: $section-padding-horizontal;
    flex: 2;
}

.projects-page_title {
    font-family: $title-font-family;
    font-size: $title-font-size;
}